html, body
	height: 100%

body
	position: relative
	min-width: 960px
	background-color: #EEE
	padding: 0 0 0 20%
	+transition(padding 0.3s linear)
	+r(1000)
		padding: 0 0 0 200px
	&.is-close
		padding: 0
		.sidebar
			+translateX(-100%)
		.breadcrumbs__icon
			+rotate(180)
			&:before
				+rotate(-180)
.header
	+clr
	padding: 4px 20px
	background-color: #5F7583
	.btn-big
		float: right
		margin: 3px 0
		min-width: 144px

.logo
	font-size: 22px
	color: #fff
	display: inline-block
	vertical-align: top
	padding: 0 0 0 46px
	position: relative
	line-height: 37px
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		+s(b2bsoft)

.breadcrumbs
	font-size: 0
	position: relative
	padding: 0 0 0 65px
	overflow: hidden
	&__icon
		width: 46px
		height: 44px
		position: absolute
		top: 0
		left: 0
		+transition(all 0.3s)
		cursor: pointer
		&:before, &:after
			content: ""
			position: absolute
			+border-radius(50%)
			+opacity(0.5)
		&:before
			+box-shadow(3px 0 1px rgba(0, 0, 0, 0.65))
			background: #5F7583
			top: 0
			left: 0
			right: 0
			bottom: 0
			+transition(all 0.3s)
		&:after
			top: 4px
			left: 4px
			right: 4px
			bottom: 4px
			background-color: #546874
			background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%)
			background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%)
			background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%)
			background-image: linear-gradient(to top, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%)
			+box-shadow(inset 3px 0 3px rgba(0, 0, 0, 0.5))
		i
			position: absolute
			top: 12px
			left: 20px
			+s(bc-arr)
			z-index: 2
	li
		display: inline-block
		vertical-align: top
		padding: 7px 28px 7px 0
		position: relative
		&:last-child
			&:before
				display: none
		&:before
			position: absolute
			top: 50%
			right: 10px
			+s(bc-deco)
			margin-top: -6px
			content: ""
		a
			font-size: 22px
			color: #FFF


.main
	+clr

.sidebar
	width: 20%
	background-color: #424B53
	position: fixed
	top: 0
	left: 0
	bottom: 0
	overflow: auto
	+transition(transform 0.3s linear)
	z-index: 300
	+r(1000)
		width: 200px
	&__header
		padding: 8px 16px 7px
		background-color: #5F7583
		&:after
			content: ""
			position: absolute
			top: 5px
			bottom: 5px
			right: 0
			border-right: 1px solid rgba(0, 0, 0, 0.14)
	&__title
		display: block
		font-size: 16px
		color: #CACCCE
		line-height: 48px
		background-color: #2F363F
		background-image: -moz-linear-gradient(bottom, #2F363F 0%, #414C56 100%)
		background-image: -o-linear-gradient(bottom, #2F363F 0%, #414C56 100%)
		background-image: -webkit-linear-gradient(bottom, #2F363F 0%, #414C56 100%)
		background-image: linear-gradient(to top, #2F363F 0%, #414C56 100%)
		border-bottom: 1px solid #4F606C
		padding: 0 50px 0 20px
		position: relative
		&:hover, &.is-active
			background: #2F363F
		&:before
			content: ""
			position: absolute
			top: 50%
			right: 21px
			+arr(12, 6, #caccce, b)
			margin-top: -3px
	&__list
		a
			display: block
			font-size: 16px
			color: #999
			line-height: 38px
			border-bottom: 1px solid #4F606C
			padding: 0 20px
			&:hover, &.is-active
				color: #CACCCE
				background: #5F7583

.container
	padding: 20px 20px 80px

.top-bar
	background-color: #F8F8F8
	border-bottom: 1px solid #cacbd3
	+border-radius(10px 10px 0 0)
	padding: 14px 4px 14px 14px
	+clr
	+r(1200)
		padding: 14px
	&_small
		.search
			+r(1200)
				float: left

.search
	position: relative
	float: left
	width: 30%
	+r(1200)
		width: 50%
		float: none
	&.is-active, &:hover
		.search__btn
			color: #373F46
		.search__input
			border-color: #373F46
	&__input
		width: 100%
		padding: 7px 35px 7px 10px
		font-size: 14px
		color: #373F46
		background-color: #FFF
		border: 1px solid #CACBD3
		+border-radius(5px)
		+placeholder-color(#999)
		+transition(border-color 0.25s)
		&:hover, &:active, &:focus
			border-color: #373F46
	&__btn
		position: absolute
		top: 0
		right: 0
		bottom: 0
		width: 36px
		font-size: 16px
		background: none
		color: #CACBD3
		+transition(color 0.25s)

.filter
	float: right
	font-size: 0
	width: 70%
	+r(1200)
		float: none
		padding: 10px 0 0
		width: 100%
	&__label, .select-check, .select-date
		display: inline-block
		vertical-align: top
	&__box
		padding: 0 0 0 8px
		max-width: 20%
		display: inline-block
		vertical-align: middle
		&.is-small
			min-width: 113px
		&.is-med
			min-width: 133px
		&.is-big
			min-width: 193px
	&__label
		font-size: 14px
		color: #999
		+r(1200)
			margin: 0

//order-table
.order-table
	background: #fff
	+border-radius(0 0 5px 5px)

//table
.table-wrapper
	border-bottom: 1px solid #CACBD3
	overflow: auto
	width: 100%
	.table
		min-width: 980px
.table
	background-color: #FFF
	border-collapse: collapse
	thead
		background-color: #EEE
		border-bottom: 1px solid #CACBD3
	tr
		&:hover
			background-color: #F8F8F8
			a
				text-decoration: underline
			.btn-status
				text-decoration: none
		&:last-child
			td
				border-bottom: none
	td, th
		text-align: left
		font-weight: normal
		color: #373F46
		font-size: 12px
		line-height: 16px
		vertical-align: top
		&.table__number
			padding-left: 15px
		&.table__status
			padding-right: 17px
		span
			display: block
	th
		padding: 11px 0 11px 0
		border-bottom: 1px solid #CACBD3
		&.table__col
			padding: 11px 15px
		span
			display: inline-block
			padding: 0 12px 0 0
			position: relative
			&:hover, &.is-active
				&:before
					+arr(8, 4, #373F46, b)
					+rotate(-180)
			&:before
				+arr(8, 4, #cacbd3, b)
				content: ""
				position: absolute
				top: 50%
				right: 0
				margin-top: -2px
				+transition(all 0.2s)
	td
		border-bottom: 1px solid #eeeeee
		&.table__status
			padding: 5px 17px 2px 0
	&__number, &__summary, &__customer, &__model, &__technician, &__due-date, &__store, &__create-date, &__create-by, &__priority, &__status
		padding: 9px 11px 2px 0
	&__number
		width: 6.6%
		a
			color: #2D6F95
	&__summary
		width: 15.2%
	&__customer
		width: 11%
	&__model
		width: 10.6%
	&__technician
		width: 9.1%
	&__due-date
		width: 7.3%
	&__store
		width: 6.2%
	&__create-date
		width: 9.6%
	&__create-by
		width: 8.4%
	&__priority
		width: 6.5%
	&__status
		width: 9.5%
	&__department
		width: 32%
	&__category
		width: 68%
	&__col
		width: 25%
		padding: 11px 15px
	.icon-customize
		font-size: 30px
		color: #CACBD3
		vertical-align: middle
	.color
		display: inline-block
		vertical-align: middle
	.radio
		vertical-align: middle
	.add-block
		text-align: left
	p
		font-size: 12px
		color: #373F46
		line-height: 16px
		&.not-active
			color: #999
		a
			color: #2D6F95
			&:hover
				text-decoration: underline
//bottom
.bottom
	+clr
	padding: 20px 15px 15px
.pages
	float: left
	font-size: 0
	&__text, &__list, &__prev, &__prev-mod, &__next, &__next-mod
		display: inline-block
		vertical-align: middle
	&__text
		color: #373F46
		font-size: 12px
		margin-right: 5px
	&__list
		padding: 0 3px
		li
			display: inline-block
			vertical-align: top
			padding: 0 2px
		a
			font-size: 12px
			color: #373F46
			font-family: "Verdana"
			+border-radius(5px)
			width: 20px
			line-height: 20px
			text-align: center
			display: inline-block
			&:hover, &.is-active
				color: #fff
				background-color: #2d6f95
	&__prev, &__prev-mod, &__next, &__next-mod
		font-size: 8px
		color: #999
		text-align: center
		width: 20px
		height: 20px
		line-height: 18px
		border: 2px solid #999
		+border-radius(50%)
		margin: 0 5px
		display: inline-block
		vertical-align: middle
		&:hover, &.is-active, &:active
			border-color: #2d6f95
			color: #2d6f95
		&.is-disabled
			color: #CACBD3
			border-color: #CACBD3

.size
	float: right
	font-size: 0
	&__text
		display: inline-block
		vertical-align: middle
		color: #373F46
		font-size: 12px
		margin-right: 10px

//categories
.categories
	background-color: #F8F8F8
	border: 1px solid #EEE
	+border-radius(5px)
	padding: 15px 0 15px
	&__title
		background: #fff
		color: #373F46
		font-size: 16px
		padding: 0 37px
		line-height: 34px
		position: relative
		border-top: 1px solid #CACBD3
		+user-select(none)
		cursor: pointer
		&.is-active
			background-color: #EEE
			&:before
				+rotate(90)
				+arr(6, 12, #373F46, r)
		&:before
			content: ""
			+arr(6, 12, #CACBD3, r)
			position: absolute
			top: 50%
			margin-top: -6px
			left: 15px
			-webkit-transform-origin: center center
			-moz-transform-origin: center center
			-ms-transform-origin: center center
			-o-transform-origin: center center
			transform-origin: center center
			+transition(all 0.2s)
	&__box
		padding: 14px 11px 14px 15px
		border-top: 1px solid #CACBD3
		display: none
	&__table
		border: 1px solid #CACBD3
		+border-radius(5px)
		background: #fff
		overflow: hidden
		.table
			width: 100%
			table-layout: fixed
			background: none
			td, th
				line-height: 45px
				color: #373F46
				font-size: 14px
				border-bottom: 1px solid #CACBD3
				padding: 0 15px
				vertical-align: middle
				position: relative
			th
				background-color: #EEE
			&__text
				margin: 0 30px 0 0
			.delete
				position: absolute
				top: 50%
				right: 15px
				margin-top: -7px
			&__mod
				font-size: 0
				+vertical
				text-align: left
				.ok, .delete
					margin: 0 0 0 10px
					position: static
					float: none
	&__check
		li
			ul
				padding: 5px 30px 0
				li
					padding: 10px 0 0

.customize
	&-table
		border: 1px solid #CACBD3
		+border-radius(5px)
		background: #fff
		overflow: hidden
		.table
			width: 100%
			table-layout: fixed
			background: none
			td, th
				line-height: 45px
				color: #373F46
				font-size: 14px
				border-bottom: 1px solid #CACBD3
				padding: 0 15px
				vertical-align: middle
				position: relative
				&.is-first
					width: 14%
				&.is-second
					width: 34%
				&.is-third
					width: 32%
				&.is-fourth
					width: 20%
			th
				background-color: #EEE
			td
				&.is-first
					text-align: center
			tr
				&:hover
					.icon-customize
						color: #373F46
			.delete
				position: absolute
				top: 50%
				right: 15px
				margin-top: -7px
				&.is-hide
					display: none
.choice
	line-height: 16px
	p, small
		font-size: 14px
		margin-bottom: 10px
		display: block
	p
		color: #414141
	small
		color: #999

//disclaimer
.disclaimer
	background-color: #FFF
	+border-radius(5px)
	padding: 15px 0 0
	&__label
		color: #999
		font-size: 14px
		line-height: 1.2
		display: block
		margin-bottom: 15px
	&__body
		padding: 12px 15px 15px

.text
	background-color: #F8F8F8
	+border-radius(5px)
	border: 1px solid #EEE
	padding: 0 10px
	margin-bottom: 14px
	p
		color: #373F46
		font-size: 14px
		line-height: 22px
		padding: 10px 0

.title
	font-size: 16px
	color: #373F46
	line-height: 35px
	border: 1px solid #CACBD3
	border-left: none
	border-right: none
	background-color: #EFEFEF
	padding: 0 15px 0
	position: relative
	&_accordion
		font-size: 0
		border-bottom: none
		background: #FFF
		&.is-active
			background-color: #eee
			&:before
				+rotate(90)
				+arr(6, 12, #373F46, r)
			.title__btns
				display: block
			.btn-edit
				display: inline-block
		&:before
			content: ""
			+arr(6, 12, #CACBD3, r)
			position: absolute
			top: 50%
			margin-top: -6px
			left: 15px
			-webkit-transform-origin: center center
			-moz-transform-origin: center center
			-ms-transform-origin: center center
			-o-transform-origin: center center
			transform-origin: center center
			+transition(all 0.2s)
		.title__btns, .btn-edit
			display: none
	&__btns
		float: right
		.btn-link
			margin: 0 0 0 15px
	&__text
		overflow: hidden
		padding: 0 22px
		position: relative
		span
			display: inline-block
			vertical-align: middle
			margin: 0 10px 0 0
			font-size: 14px
			cursor: pointer
			+user-select(none)
	.btn-edit, .btn-link
		vertical-align: middle

.btns
	font-size: 0
	text-align: left
	.btn-simple, .btn-link
		margin: 0 10px 0 0


.facturer-table
	border-bottom: 1px solid #cacbd3
	.table
		td, th
			padding: 10px 15px 18px

.edit
	background-color: #F8F8F8
	padding: 15px 0 0
	+border-radius(5px)
	&_mod
		padding: 0
		.select,
		.input,
		.label, .select2.select2-container .select2-selection--single .select2-selection__rendered
			font-size: 12px
		.label
			margin-bottom: 6px
	&__btns
		text-align: right
		font-size: 0
		.btn-simple
			margin: 0 0 0 10px

.block
	padding: 14px 15px
	&_accordion
		display: none
		border-top: 1px solid #CACBD3

.label
	display: block
	color: #999
	font-size: 14px
	line-height: 16px
	margin-bottom: 10px

.form
	&__row
		+clr
	&__col
		width: 33.3%
		float: left
	&__field
		padding-bottom: 13px
		p
			font-size: 12px
			line-height: 16px
			color: #373f46

.models-table
	border-bottom: 1px solid #cacbd3
	.table
		td, th
			padding: 10px 15px 18px

.info
	background-color: #FFF
	+border-radius(5px 5px 0 0)
	&__row
		display: table
		table-layout: fixed
		padding: 11px 0 5px
		width: 100%
	&__col
		width: 25%
		display: table-cell
		padding: 3px 13px
		border-left: 1px solid #EEE
		&:first-child
			border: none
		li
			font-size: 12px
			line-height: 22px
			padding: 0 0 2px
	&__label
		color: #999
	&__text
		color: #424B53
		&.is-red
			color: #CB2227
	&__block
		border-top: 1px solid #cacbd3
		padding: 5px 0 4px
		.print
			float: right
			margin: 5px 0
		.links
			overflow: hidden

.links
	font-size: 0
	padding: 0 3px
	ul
		padding: 0 10px 0 0
		border-right: 1px solid #eeeeee
		display: inline-block
		vertical-align: top
		margin: 0 10px 0 0
	li
		display: inline-block
		vertical-align: top
		padding: 8px 10px
		a
			color: #999
			text-decoration: underline
			font-size: 12px
			line-height: 16px
			display: inline-block
			&:hover, &.is-active
				color: #2D6F95

.order
	border: 1px solid #cacbd3
	overflow: hidden
	+border-radius(5px)
	.table
		td, th
			padding: 5px 15px
			vertical-align: middle
			position: relative
			&.is-id
				width: 9.5%
			&.is-description
				width: 25%
			&.is-serial
				width: 13%
			&.is-qty
				width: 13.5%
			&.is-price
				width: 14.5%
			&.is-extprice
				width: 24.5%
		th
			line-height: 29px
		td
			line-height: 34px
		&__mod
			font-size: 0
			.ok, .delete
				margin: 0 10px 0 0
		.delete
			&.is-delete
				position: absolute
				top: 50%
				right: 15px
				margin-top: -7px
		.table-text
			line-height: 1.2
			display: inline-block
	.order__label
		font-size: 14px
		display: inline-block
		vertical-align: middle
		padding: 3px 0
		margin: 0 15px 0 0
		span
			color: #cb2227
			display: inline-block
	&__taken
		line-height: 16px
		small
			font-size: 12px
			color: #999
			display: block
			padding: 4px 0
	&__taken-row
		.input-small
			margin: 2px 0
			vertical-align: middle
			width: 64px
			margin: 0 10px 0 0
		.checkbox
			margin: 2px 0
			display: inline-block
			vertical-align: middle

.tabs
	padding: 0 0 14px 0
	&__btns
		margin: 0 -2px
		font-size: 0
		li
			width: 33.3%
			padding: 0 2px
			display: inline-block
			vertical-align: top
			&:first-child
				width: 33.4%
	&__block
		border: 1px solid #cacbd3
		border-top: none
		background: #fff
		+border-radius(0 0 5px 5px)
	&-parent
		padding: 14px 14px 15px
.tab-link
	background-color: #cacbd3
	border: 1px solid #cacbd3
	+border-radius(5px 5px 0 0)
	line-height: 40px
	padding: 0 20px
	text-align: center
	color: #fff
	display: block
	font-size: 0
	&.is-active
		background-color: #fff
		color: #373f46
		border-bottom-color: #fff
		.icon
			color: #cacbd3
	.icon, span
		display: inline-block
		vertical-align: middle
		font-size: 16px
	span
		padding: 0 10px 0 0

.comment
	padding: 0 15px 10px
	&:first-child
		border-top: none
		padding: 14px 15px 10px
	&-info
		color: #999
		font-size: 12px
		line-height: 16px
		text-align: right
		display: block
		padding: 14px 15px 14px
		border-top: 1px solid #caccce
	.btns
		padding: 0 0 5px
	.btn-big
		margin: 0 0 13px
.post
	+clr
	.author
		float: left
		margin: 0 15px 0 0
	&__info
		overflow: hidden
		padding: 4px 0
	&__author
		color: #caccce
		font-size: 12px
		line-height: 18px
		display: inline-block
		vertical-align: top
		margin: 0 12px 0 0
	&__top
		font-size: 0
		padding: 0 0 7px
		.btn-edit-full, .btn-delete-full
			margin: 0 15px 0 0
	p
		font-size: 12px
		line-height: 18px
		color: #373f46

.author
	width: 52px
	height: 52px
	background-color: white
	border: 1px solid #cacbd3
	+border-radius(50%)
	color: #cacbd3
	display: inline-block
	vertical-align: top
	+vertical
	i, img
		display: inline-block
		vertical-align: middle
	i
		font-size: 20px
	img
		width: 100%
		height: 100%
		+border-radius(50%)

.transactions
	padding: 14px 0
	.table
		th, td
			padding: 11px 15px

.history
	padding: 10px 0 10px
	position: relative
	&:before
		content: ""
		width: 1px
		height: 266px
		background-color: #cacbd3
		top: 53px
		left: 19px
		position: absolute
		display: none
	&__table
		position: relative
		z-index: 2
		th, td
			text-align: left
			vertical-align: top
			&.is-circle
				width: 5.5%
			&.is-date
				width: 14.5%
			&.is-employee
				width: 14.5%
			&.is-log
				width: 65.5%
		th
			font-size: 12px
			padding: 0 15px 15px
			font-weight: normal
		td
			padding: 6px 15px
			&.is-date
				span
					display: block
			&.is-circle
				i
					display: inline-block
					width: 9px
					height: 9px
					+border-radius(50%)
			p, span
				font-size: 12px
				line-height: 16px
			p
				color: #373f46
			span
				color: #999

.js-tabs-block
	display: none
	&.is-active
		display: block
